<div class="card p-3 shadow-sm h-100">
  @if(productItem.stock >0){
  <span class="badge bg-success position-absolute top-0 start-0 m-2"
    >In Stock</span
  >
  }@else {
  <span class="badge bg-danger position-absolute top-0 start-0 m-2"
    >Out Of Stock</span
  >
  }
  <div class="card-img-container">
    <img
      [src]="productItem.images[0]"
      class="card-img-top fixed-size-img"
      alt="{{ productItem.title }}"
    />
  </div>

  <div class="card-body">
    <!-- Title and Price Section -->
    <div class="d-flex justify-content-between align-items-baseline">
      <h5 class="card-title m-0">{{ productItem.title }}</h5>

      <!-- Price Container -->
      <div class="price-container">
        <!-- Discounted Price -->
        <span class="price">
          ${{
            getWholePart(
              productItem.price | priceAfterDis : productItem.discountPercentage
            )
          }}
          <sup>{{
            getCentsPart(
              productItem.price | priceAfterDis : productItem.discountPercentage
            )
          }}</sup>
        </span>
        <!-- Original Price (before discount) -->
        <span class="price-original">
          ${{ productItem.price.toFixed(2) }}
        </span>
      </div>
    </div>
    <p class="card-text text-muted">{{ productItem.description }}</p>
    <app-star-rating [rating]="productItem.rating"></app-star-rating>
    <div class="d-flex justify-content-between mt-2">
      <button
        class="btn-view w-50 me-2"
        (click)="handleRedirect(productItem.id)"
      >
        View Details
      </button>
      <button class="btn-add-to-cart w-50" (click)="handleAddToCart()">
        Add to Cart
      </button>
    </div>
  </div>
</div>
